<div>
    <h3>Product Name and Quantity Check</h3>

    <h4>Please provide the ID of the product below:</h4>
    <hr/>
    <form asp-action="ProductNameAndQuantity">
        <label class="control-label">Product ID</label>
        <input name="id" class="form-control" />
        <br/>
        <input type="submit" value="Check" class="btn btn-primary" />
    </form>
</div>